<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Wizz Air AYCF</title>
    <link rel="stylesheet" th:href="@{/css/style-login.css}">
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
</head>
<body>
<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <img th:src="@{/images/logo.png}" alt="Wizz Air AYCF Logo" class="login-logo">
        </div>
        <form th:action="@{/login}" method="post" class="login-form">
            <div class="form-group">
                <input type="text"
                       name="username"
                       placeholder="Email"
                       required
                       th:classappend="${error} ? 'input-error'">
                <span class="error-message"
                      th:if="${param.error}">Invalid email address or password.</span>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>

            <button type="submit" class="login-btn">SIGN IN</button>
            <div id="loader" class="loader" style="display: none;"></div>
        </form>
    </div>
</div>
</body>
<script th:src="@{/js/loader.js}"></script>
</html>